<div class="navbar-container">
  <%= link_to "HOME", root_path %>
  <i class="fa-solid fa-chevron-right"></i>
  <%# <i class="fa-solid fa-arrow-right"></i> %>
  <%# <i class="fa-solid fa-slash"></i> %>
  <%= link_to "MAP", root_path %>
  <i class="fa-solid fa-chevron-right"></i>
  <%# <i class="fa-solid fa-arrow-right"></i> %>
  <%# <i class="fa-solid fa-slash"></i> %>
  <%= link_to "FIND", root_path %>
  <i class="fa-solid fa-chevron-right"></i>
  <%# <i class="fa-solid fa-arrow-right"></i> %>
  <%# <i class="fa-solid fa-slash"></i> %>
  <%= link_to "CHARTS", root_path %>
  <i class="fa-solid fa-chevron-right"></i>
  <%# <i class="fa-solid fa-arrow-right"></i> %>
  <%# <i class="fa-solid fa-slash"></i> %>
  <%= link_to "CONTACT", root_path %>
</div>
