<div class="index-container">
  <div class="index-grid-container">
    <div class="index-banner">
      <div class="index-banner-title">
        <h2>PARMAGEDDON</h2>
      </div>
    </div>
    <div class="index-banner-image">
      <%= image_tag asset_url("parma.png") %>
    </div>
    <div class="index-hero">
      <h1>Find a Parma that's right for you.</h1>
    </div>
    <div class="empty">
    </div>
  </div>
    <div class="index-links">
      <div class="index-links index-links-left">
        <h4>Find a Parma</h4>
      </div>
      <div class="index-links index-links-mid">
        <h4>Enter your postcode</h4>
      </div>
      <div class="index-links index-links-right">
        <%= form_with url: map_path, method: :post do |f| %>
          <%= f.text_field :postcode %>
          <%= f.hidden_field :radius, value: '5000' %>
          <%= f.hidden_field :type, value: 'pub' %>
          <%= f.submit '', style: "background: url(#{asset_path('chevron-right-double.svg')}) no-repeat; border: none; width: 50px; height: 50px;" %>
        <% end %>
      </div>
    </div>
</div>
