
<div class="index-container">
  <% if flash[:error] %>
    <div class="alert" role="alert">
      <%= flash[:error] %>
      <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';" aria-label="Close">&times;</button>
    </div>
  <% end %>
  <div class="index-grid-container">
    <div class="index-banner">

      <div class="index-banner-title">
        <h2>PARMAGEDDON</h2>
      </div>
    </div>
    <div class="index-banner-image">
      <%= image_tag asset_url("parma.png") %>
    </div>
    <div class="index-hero">
      <h1>Find a Parma that's right for you.</h1>
    </div>
    <div class="empty">
    </div>
  </div>
    <div class="index-links">
      <div class="index-links index-links-left">
        <h4>Find a Parma</h4>
      </div>
      <div class="index-links index-links-mid">
        <h4>Enter your postcode</h4>
      </div>
      <div class="index-links index-links-right">
        <%= form_with url: search_path, method: :post, id: 'postcode-form', data: { controller: 'postcode', action: 'submit->postcode#submit' } do %>
          <%= text_field_tag :postcode, nil, data: { postcode_target: 'input' } %>
          <button type="submit" class="index-links-button-image" data-action="postcode#submit">
            <%= image_tag 'chevron-right-double.svg', size: "50", alt: 'Map centered at postcode' %>
          </button>
        <% end %>
      </div>
    </div>
</div>
