<div class="map-page-container">
  <div id="carouselControls" class="carousel" data-controller="carousel">
    <a class="carousel-control-prev" href="#" role="button" id="carouselBtnPrev" data-action="click->carousel#prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <div class="carousel-inner">
      <% if @venues.nil? %>
        <%= No venues found! %>
      <% else %>
        <% @venues.each do |venue| %>
          <div class="carousel-item" data-carousel-target="card">
            <%= render "pages/card", :venue => venue %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="carousel-control-next" href="#" role="button" id="carouselBtnNext" data-action="click->carousel#next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="gmaps" data-controller="gmaps"
    data-gmaps-api-key-value="<%= ENV['GMAPS_API_KEY'] %>"
    data-gmaps-venues-value="<%= @venues.to_json %>"
    data-gmaps-location-value="<%= params[:postcode] %>"
    data-gmaps-target="mapDiv">
  </div>
</div>
